name: Deploy OK1SIM to server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Deploy via rsync
      uses: burnett01/rsync-deployments@7.0.1
      with:
        switches: -avz --delete
        path: ./        # nebo cesta k ok1sim projektu
        remote_path: /var/www/ok1sim.cz
        remote_host: ${{ secrets.SSH_HOST }}
        remote_user: ${{ secrets.SSH_USER }}
        remote_key: ${{ secrets.SSH_KEY }}
